@import '/node_modules/modern-normalize/modern-normalize.css';
@import '../node_modules/simplebar-react/dist/simplebar.min.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global styled */

p { 
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Advantages ScrollBar */

.simplebar-wrapper {
  height: 250px;
}

.simplebar-track {
  background-color: white;
}

.simplebar-track.simplebar-vertical {
  width: 50px;
}

.simplebar-scrollbar::before {
  margin-left: 10px;
  background-color: #f5821f;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}

.simplebar-scrollbar.simplebar-visible::before{
  opacity: 1;
}

.simplebar-content-wrapper {
  scroll-behavior: smooth;
  transition: transform 0.3s ease-out;
}

/* BtnTabs */

.custom_btn {
  width: 120px;
  height: 40px;
  color: black;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background: #b1b1b380;
  line-height: 42px;
  padding: 0;
  border: none;
}

.custom_btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.custom_btn:before,
.custom_btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #f5821f;
  box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.5s ease;
}

.custom_btn:before {
  height: 0%;
  width: 2px;
}

.custom_btn:after {
  width: 0%;
  height: 2px;
}

.custom_btn:hover {
  color: #f5821f;
  background: transparent;
}

.custom_btn:hover:before {
  height: 100%;
}

.custom_btn:hover:after {
  width: 100%;
}

.custom_btn span:before,
.custom_btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #f5821f;
  box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.5s ease;
}

.custom_btn span:before {
  width: 2px;
  height: 0%;
}

.custom_btn span:after {
  height: 2px;
  width: 0%;
}

.custom_btn span:hover:before {
  height: 100%;
}

.custom_btn span:hover:after {
  width: 100%;
}
